<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <form action="" method="POST">
        <p><input type="text" name="name"></p>
        <p><input type='hidden' value='0' name='isCorrect[]'><input type="checkbox" value='1' name="isCorrect[]"><input type="text" name="answer[]" class="answer"><span class="delete">delete</span></p>
        <p><input type='hidden' value='0' name='isCorrect[]'><input type="checkbox" value='1' name="isCorrect[]"><input type="text" name="answer[]" class="answer last"><span class="delete">delete</span></p>

        <input type="submit" name="save" value = 'Save'>
        <span class="quit">quit</span>
    </form>
    <script>
        function add_input() {
            let input = '<p><input type="hidden" value="0" name="isCorrect[]"><input type="checkbox" value="1" name="isCorrect[]"><input type="text" name="answer[]" class="answer last"><span class="delete">delete</span></p>';
            let old_input = $('.last');
            old_input.parent().after(input);
            old_input.removeClass('last');
            old_input.off('keydown');
        }
        function delete_input() {
            if ($(event.target).prev('.answer').hasClass('last')) {
                $(event.target).parent().prev('p').children('.answer').addClass('last');
            }
            $(event.target).closest('p').remove();
        }
        $('body').on('keydown','.last', () => add_input());
        $('body').on('click','.delete', () => delete_input());
        $('body').on('click','.quit', () => {
            alert('Сохранить изменения?');
            location.href = '/lab6/tests';
        });
    </script>
</body>
</html>